<!DOCTYPE html>
<html>
<head>
  <title>Edit <%= project.name %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Edit Project</h1>
  <form action="/projects/<%= project.id %>" method="POST">
    <label>Name:</label>
    <input type="text" name="name" value="<%= project.name %>" required><br>
    <label>Description:</label>
    <textarea name="description" required><%= project.description %></textarea><br>
    <label>Price:</label>
    <input type="number" name="price" step="0.01" value="<%= project.price %>" required><br>
    <label>Completed Tasks:</label>
    <input type="text" name="completedTasks" value="<%= project.completedTasks %>"><br>
    <label>Start Date:</label>
    <input type="date" name="startDate" value="<%= project.startDate %>" required><br>
    <label>End Date:</label>
    <input type="date" name="endDate" value="<%= project.endDate %>" required><br>
    <button type="submit">Update</button>
  </form>
  <a href="/projects/<%= project.id %>">Back to Project</a>
</body>
</html>